# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
.mem
.sysgenerate
*.csproj
*.sln
DotSettings
*.user
*.userprefs
*.booproj
*.pidb
*.suo
*.svd
*.cachefile
*.orig

# Rider
.idea/
*.sln.DotSettings

# macOS
.DS_Store

.vscode
.claude